<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302556638942-q3r9hks79dbnj0nv8k8c8q8upnsr5haa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302556638942-q3r9hks79dbnj0nv8k8c8q8upnsr5haa</string>
	<key>API_KEY</key>
	<string>AIzaSyCOOxjQanORXmuyBAMTV9AHjmmacSMzKBo</string>
	<key>GCM_SENDER_ID</key>
	<string>302556638942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voteApplication</string>
	<key>PROJECT_ID</key>
	<string>vote-app-15172</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-app-15172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302556638942:ios:6e9a9081fa5514c3d45c4f</string>
</dict>
</plist>